<div class="card">
<span class="p-buttonset">
	<button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-text"></button>
	<button pButton pRipple label="Buscar" icon="pi pi-search" class="p-button-text"></button>
	<button pButton pRipple label="Exportar" icon="pi pi-download" class="p-button-text"></button>
	<p-splitButton label="Otros" icon="pi pi-plus" [model]="items" class="p-button-text" styleClass="p-button-text">
		
	</p-splitButton>
	<button pButton pRipple label="Imprimir" icon="pi pi-print" class="p-button-text"></button>
	<button pButton pRipple label="Ayuda" icon="pi pi-question-circle" class="p-button-text"></button>
</span>
</div>